<ion-view view-title="Addons">
  <ion-header-bar class="bar-positive">
    <h1 class="title">Addons</h1>
    <button class="button button-clear" on-touch="onCancelAddons()"><i class="icon ion-ios-arrow-down"></i>
    </button>
  </ion-header-bar>
  <ion-content>
    
    <ion-list>
      <ion-item class="item-thumbnail-left" ng-repeat="item in addonsData">
        <img src="img/{{item.img}}">
        <h2>{{item.name}}</h2>
        <p>{{item.description}}</p>
        <button class="button button-clear addons-button" ng-class="item.isChecked ? 'button-balanced': 'button-positive'" on-tap="buyNow($index)">{{!item.isChecked ? 'Buy' : 'Active'}}</button>
      </ion-item>
    </ion-list>

  </ion-content>
</ion-view>