<ion-view view-title="Current Package">
  <ion-header-bar class="bar-positive">
    <h1 class="title">Current Package</h1>
    <button class="button button-clear" on-touch="onCancelCurrentPackAge()"><i class="icon ion-ios-arrow-down"></i>
    </button>
  </ion-header-bar>
  <ion-content class="back-img">

    <div class="list card">
      <div class="item item-body">
        <img class="full-image" src="img/gg.jpg">
        <h1 class="current-h1">Denemesi Bedava</h1>
        <p><strong>Avea'yı denemenin şimdi tam zamanı!</strong>
        </p>
        <p>Avea’yı denemeyen kalmasın diye şimdi ilk 3 ay ücretsiz Avea içi 500 dakika, Avea içi 500 SMS ve 500 MB cepten internet!</p>
      </div>
    </div>

    <div class="list card">
      <div class="item item-body">
        <img class="full-image" src="img/gb.jpg">
        <h1 class="current-h1">Gönlü Bol Kampanya</h1>
        <p><strong>Türk Telekom ve TTNET müşterileri Avea’da indirimli konuşuyor, mesajlaşıyor, cepten internetin tadını çıkarıyor!</strong>
        </p>
        <p>24.02.2015 tarihi ve sonrası Bol Kepçe 3GB ve Bol Kepçe 6GB Tarifeleri’ne geçerek 12 fatura dönemi Avea’nın faturalı tarifelerinde kalma sözü veren müşterilerimiz, Türk Telekom veya TTNET’te aktif bireysel abonelik bildirmeleri durumunda 12 fatura dönemi boyunca aylık 6 TL aylık sabit tarife ücret indirimi kazanıyor .</p>
      </div>
    </div>
    
  </ion-content>
</ion-view>