<ion-view view-title="Login" hide-nav-bar="true">
  <ion-content class="login-view">
    <div class="logo"><img class="img" src="img/etiyaLogo.png"></div>
    <ion-list>
      <ion-item class="item-input login-input">
        <span class="input-label">Subscriber ID:</span>
        <input type="text" placeholder="Subscriber ID" ng-model="login.id">
      </ion-item>
    </ion-list>
    <button class="button button-block button-outline button-positive login-button" on-touch="goHome()">Login</button>
  </ion-content>
</ion-view>