<ion-view view-title="Genel Bakış">
  <ion-content scroll="false">
    <div id="container" style="min-width: 310px; height: 400px; max-width: 600px; margin: 0 auto"></div>
<!--
    <ion-list class="overview-list">
      <ion-item>
        <span>620 MB</span>
      </ion-item>
      <ion-item><span>200 SMS</span>
      </ion-item>
      <ion-item><span>300 DK ARAMA</span>
      </ion-item>
    </ion-list>
-->

    <ul class="list overview-list">
      <li class="item">
        <span>620 MB</span>
      </li>
      <li class="item">
        <span>200 SMS</span>
      </li>
      <li class="item">
        <span>300 DK ARAMA</span>
      </li>
    </ul>
  </ion-content>
</ion-view>