<ion-view view-title="Ayarlar">
  <ion-content>
    <h4>Internet kullanımını belirle</h4>
    <div class="item range">
      <i class="icon ion-volume-low"></i>
      <input type="range" name="volume">
      <i class="icon ion-volume-high"></i>
    </div>
    
    <h4>SMS Kullanımını belirle</h4>
    <div class="item range">
      <i class="icon ion-volume-low"></i>
      <input type="range" name="volume">
      <i class="icon ion-volume-high"></i>
    </div>
    
    <h4>Arama kullanımını belirle</h4>
    <div class="item range">
      <i class="icon ion-volume-low"></i>
      <input type="range" name="volume">
      <i class="icon ion-volume-high"></i>
    </div>
  </ion-content>
</ion-view>