<ion-view view-title="Genel Bakış">
  <ion-nav-buttons side="left">
    <span><img src="img/e.png" class="header-logo"></span>
  </ion-nav-buttons>
  <ion-content scroll="false">
    <div id="container"></div>
    <ul class="list overview-list">
      <li class="item ">
        <span class="overview-color network"></span>
        <span class="overview-description">620 MB</span>
        <span>Window Width: {{data}}</span>
        <span class="item-note">İnternet</span>
      </li>
      <li class="item">
        <span class="overview-color sms"></span>
        <span class="overview-description">200 SMS</span>
        <span class="item-note">Sms</span>
      </li>
      <li class="item">
        <span class="overview-color call"></span>
        <span class="overview-description">300 DK</span>
        <span class="item-note">Arama</span>
      </li>
    </ul>
  </ion-content>
</ion-view>