<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <ion-tab title="Overview" icon-off="ion-ios-pulse" icon-on="ion-ios-pulse-strong" href="#/tab/overview">
    <ion-nav-bar class="bar-positive" animation="no-animation">
      <ion-nav-back-button>
      </ion-nav-back-button>
    </ion-nav-bar>
    <ion-nav-view name="tab-overview"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Details" icon-off="ion-ios-chatboxes-outline" icon-on="ion-ios-chatboxes" href="#/tab/details">
    <ion-nav-bar class="bar-positive" animation="no-animation">
      <ion-nav-back-button>
      </ion-nav-back-button>
    </ion-nav-bar>
    <ion-nav-view name="tab-details"></ion-nav-view>
  </ion-tab>
  
  <ion-tab title="Profile" icon-off="ion-ios-person-outline" icon-on="ion-ios-person" href="#/tab/profile">
    <ion-nav-bar class="bar-positive" animation="no-animation">
      <ion-nav-back-button>
      </ion-nav-back-button>
    </ion-nav-bar>
    <ion-nav-view name="tab-profile"></ion-nav-view>
  </ion-tab>
  
  <ion-tab title="Settings" icon-off="ion-ios-cog-outline" icon-on="ion-ios-cog" href="#/tab/settings">
    <ion-nav-bar class="bar-positive" animation="no-animation">
      <ion-nav-back-button>
      </ion-nav-back-button>
    </ion-nav-bar>
    <ion-nav-view name="tab-settings"></ion-nav-view>
  </ion-tab>

</ion-tabs>