.logo {
  text-align: center;
  margin: 10px 10px 40px 10px;
}

.logo .img {
  width: 100%;
}

#container {
  margin-top: -40px !important;
  margin-left: 10px !important;
}

.overview-list {
  margin-top: -40px !important;
}

.highcharts-button {
  display: none;
}

.login-view {
  padding: 140px 10px 10px 10px;
  background-color: #48637E;
}

.login-button {
  background-color: #EC6708 !important;
  color: white !important;
  border-color: #EC6708 !important;
}

.login-input {
  height: 40px;
}

.header-logo {
  margin: 1px;
  width: 34px;
}

.tabs-striped .tabs {
  background-color: #387ef5 !important;
}

.ion-tabs.tabs-color-active-positive .tab-item {
  color: #dedede !important;
}