.logo {
  text-align: center;
  margin: 10px 10px 40px 10px;
}

.logo .img {
  width: 200px;
}
/*
@media (max-width: 400px) {
  #container {
    margin-top: -80px !important;
    min-width: 310px;
    height: 400px;
    width: 100%;
    margin: 0 auto
  }
}

@media (min-width: 400px) {
  #container {
    margin-top: 0px !important;
    min-width: 310px;
    height: 700px;
    width: 100%;
    margin: 0 auto
  }
}
*/

.overview-list {
  margin-top: 40px !important;
}

.highcharts-button {
  display: none;
}

.login-view {
  padding: 140px 10px 10px 10px;
  /*  background-color: #48637E;*/
  height:101%;
  background: url(../img/loginScreen.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.login-button {
  background-color: #EC6708 !important;
  color: white !important;
  border-color: #EC6708 !important;
}

.login-input {
  height: 40px;
}

.header-logo {
  margin: 1px;
  width: 34px;
}

.tabs-striped .tabs {
  background-color: #387ef5 !important;
}

.ion-tabs.tabs-color-active-positive .tab-item {
  color: #dedede !important;
}

.overview-description {
  margin-left: 30px;
}

.overview-color {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 6px;
}

.network {
  background-color: rgb(243, 116, 42) !important;
}

.sms {
  background-color: rgb(56, 126, 245);
}

.call {
  background-color: rgb(139, 188, 33);
}

.un-usage {
  background-color: rgb(204, 204, 204)
}